// icon

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;


    &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    > .label {
        display: none;
    }

    &.alt:before {
        background-color: #ffffff;
        border-radius: 100%;
        color: #242943;
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        width: 3rem;
    }
}

a.icon.alt {
    &:before {
        -moz-transition: background-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
    }

    &:hover:before {
        background-color: #6fc3df;
    }

    &:active:before {
        background-color: #37a6cb;
    }
}
