.m-input-defalut {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.15);
    border-radius: 0;
    border: none;
    color: inherit;
    display: block;
    height: 3rem;
    outline: 0;
    padding: 0 1.2rem;
    text-decoration: none;
    width: 100%;
    transition: box-shadow 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: inset 0 0 0 1px rgba(252, 173, 38, .5);

    &:invalid {
        box-shadow: none;
    }
    
    &:focus {
        box-shadow: inset 0 0 0 1px #fcad26;
        border: none;
    }

    &.small {
        height: 2.4rem;
    }

    &.big {
        height: 3.4rem;
    }

    &.disabled,
    &:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
}

.m-input-common {
    position: relative;
    z-index: 1;
    display: inline-block;
    //margin: 1em;
    //max-width: 400px;
    //width: calc(100% - 2em);
    width: 100%;
    vertical-align: top;
    
    .m-input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8rem;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        //color: #aaa;
        font-weight: bold;
        //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-appearance: none; /* for box shadows to show on iOS */
        
        &:focus {
            outline: none;
        }
    }
    
    .m-input__label {
        display: inline-block;
        float: right;
        padding: 0 1rem;
        width: 40%;
        //color: #6a7989;
        font-weight: bold;
        //font-size: 70.25%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        .m-input__label-content {
            position: relative;
            display: block;
            padding: 1.6rem 0;
            width: 100%;
        }
    }
}

/* haruki */
.m-input--haruki {
    //margin: 4em 1em 1em;
    
    .m-input__field--haruki {
        padding: 1.2rem 0.25rem;
        width: 100%;
        background: transparent;
        //color: #AFB5BB;
        font-size: 2rem;
    }

    .m-input__label--haruki {
        position: absolute;
        width: 100%;
        text-align: left;
        pointer-events: none;
        
        .m-input__label-content--haruki {
            transition: transform 0.3s;
        }
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 2px;
            background: #fcad26;
            transition: transform 0.3s;
        }
        
        &::before {
            top: 0;
        }
        
        &::after {
            bottom: 0;
        }
    }
    
    
}

.m-input__field--haruki:focus + .m-input__label--haruki .m-input__label-content--haruki,
.m-input--filled .m-input__label-content--haruki {
    transform: translate3d(0, -90%, 0);
}
    
.m-input__field--haruki:focus + .m-input__label--haruki::before,
.m-input--filled .m-input__label--haruki::before {
    transform: translate3d(0, -0.4rem, 0);
}
    
.m-input__field--haruki:focus + .m-input__label--haruki::after,
.m-input--filled .m-input__label--haruki::after {
    transform: translate3d(0, 0.4rem, 0);
}
