// table

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2rem 0;
    width: 100%;

    tbody tr {
        border: solid 1px #dddddd;
        border-left: 0;
        border-right: 0;
    
        &:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.075);
        }
    }

    td {
        padding: 1rem 1rem;
    }

    th {
        color: #61686b;
        font-size: 1rem;
        font-weight: 700;
        padding: 0 1rem 1rem 1rem;
        text-align: left;
    }

    thead {
        border-bottom: solid 2px #dddddd;
    }

    tfoot {
        border-top: solid 2px #dddddd;
    }

    &.alt {
        border-collapse: separate;
    
        tbody tr td {
            border: solid 1px #dddddd;
            border-left-width: 0;
            border-top-width: 0;
            
            &:first-child {
                border-left-width: 1px;
                
                td {
                    border-top-width: 1px;
                }
            }
        }
        
        tbody tr:first-child td {
            border-top-width: 1px;
        }
        
        thead {
            border-bottom: 0;
        }
            
            tfoot {
            border-top: 0;
        }
    }
}
