main = #fcad26
assist = #f58500

font-base-color = #424242
font-hx-color = #424242
font-a-color = main
font-a-hover-color = assist
font-strong-color = #424242

bule = #0e83cd
bule-1 = #4593e3

red = #f06060
red-1 = #cb4e4e
red-2 = #ab3c3c

yellow = #fcd04b
yellow-1 = #fcad26
yellow-2 = #f29e0d
yellow-3 = #da9622
yellow-4 = #f58500
yellow-5 = #dc7801

green = #2ecc71
green-1 = #24b662
green-2 = #2ac56c
green-3 = #17aa56
green-4 = #17954c
green-5 = #0a833d


purple = #9e54bd
purple-1 = #9053a9
purple-2 = #823aa0
purple-3 = #703b87
