
// grid

// config
colums = 12;
colums-width = 100% / colums;
gutter-width = 10px;

// break point
screen-tablet = 768px
screen-desktop = 992px
screen-wide = 1200px

// mixins
box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// container
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: (gutter-width / 2);
    padding-right: (gutter-width / 2);
    box-sizing();
}

// column group
.row {
    margin-left: (gutter-width / -2);
    margin-right: (gutter-width / -2);
    @extend .clearfix;
}

.row [class*="col-"] {
    float: left;
    min-height: 1px;
    padding-left: (gutter-width / 2);
    padding-right: (gutter-width / 2);
    box-sizing()
}

.row [class*="-push-"],
.row [class*="-pull-"] {
    position: relative;
}

// mobile and up

for index in (1..colums) {
    .col-mb-{index} {
        width: colums-width * index;
    }
}

// table and up

@media (min-width: screen-tablet) {
    .container {
        max-width: screen-tablet - (gutter-width * 2);
    }

    // colums
    for index in (1..colums) {
        .col-tb-{index} {
            width: colums-width * index;
        }
    }

    // offset
    for index in (0..colums) {
        .col-tb-offset-{index} {
            margin-left colums-width * index;
        }
    }

    // pull
    for index in (0..colums) {
        .col-tb-pull-{index} {
            right: colums-width * index;
        }
    }

    // push
    for index in (0..colums) {
        .col-tb-push-{index} {
            left: colums-width * index;
        }
    }
    
    .col-tb-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .col-tb-centered:last-child {
        float: none;
    }
    .col-tb-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .col-tb-uncentered:last-child {
        float: left;
    }
}

// desktop and up

@media (min-width: screen-desktop) {
    .container {
        max-width: screen-desktop - (gutter-width * 2);
    }
    
       // colums
    for index in (1..colums) {
        .col-{index} {
            width: colums-width * index;
        }
    }

    // offset
    for index in (0..colums) {
        .col-offset-{index} {
            margin-left colums-width * index;
        }
    }

    // pull
    for index in (0..colums) {
        .col-pull-{index} {
            right: colums-width * index;
        }
    }

    // push
    for index in (0..colums) {
        .col-push-{index} {
            left: colums-width * index;
        }
    }
    
    .col-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .col-centered:last-child {
        float: none;
    }
    .col-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .col-uncentered:last-child {
        float: left;
    }
}

// widescreen and up

@media (min-width: screen-wide) {
    .container {
        max-width: screen-wide - (gutter-width * 2);
    }

    // colums
    for index in (1..colums) {
        .col-tb-{index} {
            width: colums-width * index;
        }
    }

    // offset
    for index in (0..colums) {
        .col-tb-offset-{index} {
            margin-left colums-width * index;
        }
    }

    // pull
    for index in (0..colums) {
        .col-tb-pull-{index} {
            right: colums-width * index;
        }
    }

    // push
    for index in (0..colums) {
        .col-tb-push-{index} {
            left: colums-width * index;
        }
    }
    
    .col-wd-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .col-wd-centered:last-child {
        float: none;
    }
    .col-wd-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .col-wd-uncentered:last-child {
        float: left;
    }
}

// average grid

[class*="avg-"] {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    @extend .clearfix;


    > li {
        display: block;
        height: auto;
        float: left;
    }
    
    .haspadding > li {
        padding: 5px;
    }
}

for index in (1..colums) {
    .avg-mb-{index} > li {
        width: colums-width * (colums / index);
        
        &:nth-of-type(n) {
            clear: none;
        }
        
        &:nth-of-type({index}n + 1) {
            clear: both;
        }
    }
}

@media (min-width: screen-tablet) {
    for index in (1..colums) {
        .avg-tb-{index} > li {
            width: colums-width * (colums / index);
            
            &:nth-of-type(n) {
                clear: none;
            }
            
            &:nth-of-type({index}n + 1) {
                clear: both;
            }
        }
    }
}

@media (min-width: screen-desktop) {
    for index in (1..colums) {
        .avg-{index} > li {
            width: colums-width * (colums / index);
            
            &:nth-of-type(n) {
                clear: none;
            }
            
            &:nth-of-type({index}n + 1) {
                clear: both;
            }
        }
    }
}

@media (min-width: screen-wide) {
    for index in (1..colums) {
        .avg-wd-{index} > li {
            width: colums-width * (colums / index);
            
            &:nth-of-type(n) {
                clear: none;
            }
            
            &:nth-of-type({index}n + 1) {
                clear: both;
            }
        }
    }
}

// show and hidden

@media (max-width: screen-tablet - 1) {
    .show-mb {
        display: block !important;
    }
    .hide-mb {
        display: none !important;
    } 
}
@media (min-width: screen-tablet) and (max-width: screen-desktop - 1){
    .show-tb {
        display: block !important;
    }
    .hide-tb {
        display: none !important;
    } 
}
@media (min-width: screen-desktop) and (max-width: screen-wide - 1){
    .show-de {
        display: block !important;
    }
    .hide-de {
        display: none !important;
    } 
}
@media (min-width: screen-wide) {
    .show-wd {
        display: block !important;
    }
    .hide-wd {
        display: none !important;
    } 
}
